body {
  background-color: cyan;
}

#o {
  border-style: solid;
  border: width 2px;
  border-color: white
}
#d {
  border-style: solid;
  border: width 2px;
  border-color: white
}
#g {
  border-style: solid;
  border: width 2px;
  border-color: white
}
#r {
  border-style: solid;
  border: width 2px;
  border-color: white
}
#t {
  border-style: solid;
  border: width 2px;
  border-color: white
}
#y {
  border-style: solid;
  border: width 2px;
  border-color: white
}
